/* line 4, ../../sass/common/copyright.scss */
.site-info { overflow: hidden; *zoom: 1; clear: both; padding-top: 40px; }
/* line 10, ../../sass/common/copyright.scss */
.site-info .copyright p { margin: 0; color: #e1e37a; font-size: 12px; line-height: 16px; }
