/* 菜单右侧border*/
/* line 2, ../../sass/common/decorade_border.scss */
.decorade-border { background-image: url(../image/side_border.png); background-position: top right; background-repeat: repeat-y; }

/* line 8, ../../sass/common/decorade_border.scss */
.left-border { background-position: top left; }

/* line 11, ../../sass/common/decorade_border.scss */
.right-border { background-position: top right; }
