/* footer */
/* line 2, ../../sass/common/footer.scss */
#footer { width: 100%; min-width: 960px; text-align: center; height: 183px; background-color: #791200; overflow: hidden; }
/* line 10, ../../sass/common/footer.scss */
#footer .bg { height: 183px; width: 960px; margin: auto; background: url(../image/footer_bg.jpg) top left no-repeat; }
