/* 表单 */
/* line 8, ../../sass/common/form.scss */
.form-label-like, .form-label-like-long, .control-group .control-label { text-align: right; width: 109px; height: 30px; padding-right: 20px; text-align: center; line-height: 30px; color: #aa002a; display: block; background: url(../image/form_label_bg.png); }

/* line 20, ../../sass/common/form.scss */
.form-label-like-long { background: url(../image/form_long_label_bg.png); width: 166px; }

/* line 26, ../../sass/common/form.scss */
.form-input-like, .form-input-like-long, .form-input-like-short, .control-group .controls input, .control-group .controls select, .control-group .controls .verify-code-img, .control-group .controls .info-block { margin-top: 1px; height: 26px; width: 170px; border: #cf999e 1px solid; color: #aa002a; font-weight: bold; background-color: white; }

/* line 36, ../../sass/common/form.scss */
.form-input-like-long { width: 200px; }

/* line 41, ../../sass/common/form.scss */
.form-input-like-short { width: 82px; }

/* line 46, ../../sass/common/form.scss */
.form-like { overflow: hidden; *zoom: 1; }
/* line 48, ../../sass/common/form.scss */
.form-like .form-label-like, .form-like .form-label-like-long, .form-like .control-group .control-label, .control-group .form-like .control-label, .form-like .form-label-like-long, .form-like .form-label-like-short { float: left; margin-right: 30px; clear: left; }
/* line 53, ../../sass/common/form.scss */
.form-like .form-input-like, .form-like .form-input-like-long, .form-like .form-input-like-short, .form-like .control-group .controls input, .control-group .controls .form-like input, .form-like .control-group .controls select, .control-group .controls .form-like select, .form-like .control-group .controls .verify-code-img, .control-group .controls .form-like .verify-code-img, .form-like .control-group .controls .info-block, .control-group .controls .form-like .info-block, .form-like .form-input-like-long, .form-like .form-input-like-short { float: left; line-height: 26px; text-align: center; }
/* line 59, ../../sass/common/form.scss */
.form-like .form-input-list { float: left; padding-left: 1px; }
/* line 62, ../../sass/common/form.scss */
.form-like .form-input-list .form-input-like, .form-like .form-input-list .form-input-like-long, .form-like .form-input-list .form-input-like-short, .form-like .form-input-list .control-group .controls input, .control-group .controls .form-like .form-input-list input, .form-like .form-input-list .control-group .controls select, .control-group .controls .form-like .form-input-list select, .form-like .form-input-list .control-group .controls .verify-code-img, .control-group .controls .form-like .form-input-list .verify-code-img, .form-like .form-input-list .control-group .controls .info-block, .control-group .controls .form-like .form-input-list .info-block, .form-like .form-input-list .form-input-like-long, .form-like .form-input-list .form-input-like-short { margin-left: -1px; }

/* line 68, ../../sass/common/form.scss */
.control-group { overflow: hidden; *zoom: 1; margin-bottom: 2px; }
/* line 75, ../../sass/common/form.scss */
.control-group .control-label { margin-right: 30px; float: left; }
/* line 81, ../../sass/common/form.scss */
.control-group .control-label .tip { display: block; font-size: small; color: #666; margin-top: 5px; }
/* line 89, ../../sass/common/form.scss */
.control-group .control-long-label { background: url(../image/form_long_label_bg.png); width: 166px; }
/* line 97, ../../sass/common/form.scss */
.control-group .controls input, .control-group .controls select, .control-group .controls .verify-code-img, .control-group .controls .info-block { height: 28px; }
/* line 102, ../../sass/common/form.scss */
.control-group .controls .verify-code-img { height: 26px; }
/* line 106, ../../sass/common/form.scss */
.control-group .controls .short { width: 82px; }
/* line 110, ../../sass/common/form.scss */
.control-group .controls .long { width: 200px; }

/* line 116, ../../sass/common/form.scss */
.action-group { margin-top: 20px; }
/* line 118, ../../sass/common/form.scss */
.action-group .form-button { margin-right: 20px; }
