/* 表格 */
/* line 2, ../../sass/common/info_table.scss */
.info-table { background: white; border-collapse: collapse; color: #a50005; font-size: 16px; border: 1px solid #a50005; }
/* line 10, ../../sass/common/info_table.scss */
.info-table th, .info-table td { border: 1px solid #a50005; padding: 0 10px; text-align: center; }
/* line 16, ../../sass/common/info_table.scss */
.info-table .colord { background-color: #a50005; color: white; }

/* line 22, ../../sass/common/info_table.scss */
.red-table { background: white; border-collapse: collapse; color: #ee0000; font-size: 16px; border: 1px solid #ee0000; border-top-width: 4px; }
/* line 31, ../../sass/common/info_table.scss */
.red-table th, .red-table td { border: 1px solid #ee0000; padding: 0 10px; text-align: center; vertical-align: middle; }
/* line 37, ../../sass/common/info_table.scss */
.red-table th a, .red-table td a { color: #aa002a; }
/* line 42, ../../sass/common/info_table.scss */
.red-table .colord { background-color: #ee0000; color: white; }
/* line 46, ../../sass/common/info_table.scss */
.red-table .colord a { color: white; }
