/* line 1, ../../sass/common/login_welcome.scss */
.login-welcome { font-size: 14px; color: #991D1D; margin-bottom: 20px; border-bottom: 1px #991D1D dotted; padding-bottom: 5px; text-align: right; }
/* line 8, ../../sass/common/login_welcome.scss */
.login-welcome .user-name { margin: 0 5px 0 0; font-weight: bold; }
