/**
 * 全局样式
 */

/* 引入 normalize, 用于reset样式 */
@import "common/normalize.scss";
@import "compass";

@import "common/header.scss";
@import "common/footer.scss";
@import "common/content.scss";

body {
  background-image: url(../image/main_bg.jpg);
}







/*=== 通用组件 mods ===*/

/* 块级内容的装饰 */
.block-decoration {
  background: url(../image/block-decoration-top.png) no-repeat top left;
  margin: 10px;
}

.block-decoration-wrap {
  background: url(../image/block-decoration-bottom.png) no-repeat bottom right;
  padding: 30px 30px 30px 30px;

}

/* 左侧菜单按钮 */
.menu-button,
button.menu-button,
input[type="reset"].menu-button,
input[type="submit"].menu-button,
input[type="button"].menu-button {
  width: 128px;
  height: 28px;
  background: url(../image/menu-button.png) no-repeat top left;
  cursor: pointer;
  line-height: 28px;
  text-align: center;
  color: #991d1d;
  border: none;
  display: inline-block;
  /*box-shadow: 1px 1px 1px red;*/
}

.menu-button:hover, .menu-button-hover {
  background: url(../image/menu-button-hover.png) no-repeat top left;
}

.form-button,
button.form-button,
input[type="reset"].form-button
input[type="submit"].form-button,
input[type="button"].form-button{
  height: 28px;
  width: 105px;
  background: url(../image/form_button_bg.png) no-repeat top left;
  cursor: pointer;
  line-height: 28px;
  text-align: center;
  color: #991d1d;
  border: none;
  display: inline-block;
}

/* 一般的按钮 */
.action-button, input.action-button, button.action-button {
  background: url(../image/action-button-bg.jpg) top left;
  height: 26px;
  width: 84px;
  text-align: center;
  color: white;
  line-height: 26px;
/*display: inline-block;*/
/*padding: 0 10px 0 10px;*/
  border: 2px solid white;
  cursor: pointer;
}

/* 页面中的主要内容的容器 */
.main-block {
  background: white;
  padding: 5px;
  margin: 0 25px 0 25px;
}

.main-block-wrap {
  border: 1px solid #eacaca;
  position: relative;
  height: 400px;
}

/* 标题 */
.main-block .title {
  width: 162px;
  height: 35px;
  background: url(../image/main-block-title-bg.png) no-repeat top left;
  position: absolute;
  top: 8px;
  left: -9px;
  text-align: center;
  line-height: 28px;
  color: white;
}

/* 右上角的三角装饰 */
.main-block .decorator-top {
  width: 45px;
  height: 45px;
  background: url(../image/main-block-decorator-top.png) no-repeat top left;
  position: absolute;
  top: -3px;
  right: -3px;
}

/* 左下角的三角装饰 */
.main-block .decorator-bottom {
  width: 45px;
  height: 45px;
  background: url(../image/main-block-decorator-bottom.png) no-repeat top left;
  position: absolute;
  bottom: -3px;
  left: -3px;
}

/* 翻页按钮 */
.main-block .page-button {
  height: 33px;
  position: absolute;
  width: 162px;
  bottom: 20px;
  right: -9px;
}

.main-block .page-button .prev {
  background: url(../image/page-prev.png);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 92px;
  height: 26px;
  color: white;
  text-align: center;
  line-height: 26px;
}

.main-block .page-button .next {
  background: url(../image/page-next.png);
  position: absolute;
  top: 0px;
  right: 0px;
  width: 70px;
  height: 33px;
  color: white;
  text-align: center;
  line-height: 26px;
}

/* 表单 */
.control-group {

  // 清楚浮动
  @include clearfix();

  $inputNormalWidth: 170px;
  $inputShortWidth: 82px;
  $formTextColor: #aa002a;

  margin-bottom: 2px;

  .control-label {

    float: left;
    text-align: right;
    width: 109px;
    height: 30px;
    padding-right: 20px;
    text-align: right;
    line-height: 30px;
    color: $formTextColor;
    display: block;
    margin-right: 30px;
    background: url(../image/form_label_bg.png);

    .tip {
      display: block;
      font-size: small;
      color: #666;
      margin-top: 5px;
    }
  }

  .controls {

    input, select, .verify-code-img {
      margin-top: 1px;
      height: 28px;
      width: $inputNormalWidth;
      border: #cf999e 1px solid;
      color: $formTextColor;
      font-weight: bold;
    }

    .verify-code-img {
      height: 26px;
    }

    .short {
      width: $inputShortWidth;
    }
  }
}

.action-group {
  margin-top: 20px;
  .form-button {
    margin-right: 20px;
  }
}

