@import "common.scss";

@import "common/login_welcome.scss";
@import "common/block-decoration.scss";
@import "common/menu_button.scss";
@import "common/action_button.scss";
@import "common/info_table.scss";
@import "common/decorade_border.scss";

#content {

  $fontColor: #b21f2a;

 .main {
    .block-decoration {
      color: $fontColor;
      font-size: 14px;
      p {
        text-indent: 2em;
      }
    }

    .brief-info {

      text-align: center;

      .title {
        color: $fontColor;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
      }

      /* 开始报名 */
      .start-score {
        color: $fontColor;
        margin: auto;
        font-weight: normal;
        color: white;
        margin-top: 10px;
      }

      .info-table {
        margin: auto;
        width: 376px;
      }
    }
 }
}