@import "compass";

.form-block {
  width: 400px;

  .action-group {
    margin-top: 15px;
    .form-button {
      margin-left: 23px;
      margin-right: 4px;
    }
  }
}

.affairs {
  position: relative;
  font-size: 12px;
  height: 115px;
  .trigger {
    position: absolute;
    height: 42px;
    width: 42px;
    top: 38%;
    text-indent: -9999px;
  }

  .left {
    background-image: url(../image/trigger_left.png);
    left: 6%;
  }
  .right {
    background-image: url(../image/trigger_right.png);
    right: 2%;
  }
  .affairs-list {
    @include clearfix();
    margin-left: 65px;
    margin-top: 0px;
    list-style: none;


    .item {
      width: 375px;
      height: 85px;
      padding: 10px;
      margin-top: 10px;
      float: left;
      p {
        margin: 0px;
      }
      .pic {
        float: left;
        width: 110px;
        height: 75px;
      }
      .text {
        text-align: left;
        float: left;
        width: 230px;
        padding-left: 25px;
        .title {
          font-size: 14px;
          font-weight: bold;
          color: #e1e37a;
          margin-bottom: 8px;
          text-indent: 2em;
        }
        .desc {
          color: white;
          line-height: 18px;
          text-indent: 2em;
        }
      }
    }
  }
}