.branch-list {
  width: 720px;
  margin-bottom: 20px;

}

/* 下载自评报告 */
.result-download {
  position: absolute;
  top: 30px;
  right: 50px;
}

.score-form {

  .actions {
    text-align: center;
  }
}