/* 菜单右侧border*/
.decorade-border {
  background-image: url(../image/side_border.png);
  background-position: top right;
  background-repeat: repeat-y;
}

.left-border {
  background-position: top left;
}
.right-border {
  background-position: top right;
}