/* footer */
@import "copyright.scss";

#footer {
  width: 100%;
  min-width: 960px;
  text-align: center;
  height: 105px;
  background-color: #791200;
  overflow: hidden;

  .bg {
    height: 105px;
    width: 960px;
    margin: auto;
    background: url(../image/footer_common_bg.jpg) left top  no-repeat;
  }
}