/* 评分进度 */
.process-bar {

  height: 28px;

  .item {
    width: 131px;
    height: 28px;
    line-height: 28px;
    margin-left: 9px;
    background: url(../image/process_active_bg.png) no-repeat top left;
    float: left;
    color: white;
    text-align: center;
    font-size: 16px;
  }

  .finished {
    background: url(../image/process_unactive_bg.png) no-repeat top left;
  }
}